:root {
  --md-main-bg-mix-percentage: 15%;
  --md-content-bg-transparency-1: 0.3;
  --md-code-bg-transparency: 0.3;
}




/* gradient background */
.md-main {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom,
      color-mix(in srgb,
        var(--md-primary-fg-color) var(--md-main-bg-mix-percentage),
        var(--md-default-bg-color)),
      var(--md-default-bg-color));
}




/* header 5 */
h5 {
  text-transform: none !important;
}




/* code */
.md-typeset code {
  background-color: 
    color-mix(
      in srgb,
      var(--md-code-bg-color) calc(var(--md-content-bg-transparency-1) * 100%),
      transparent
    ) !important;
}

.md-typeset code:not(.highlighttable code) {
  border: 1px solid color-mix(
    in srgb,
    var(--md-primary-fg-color) calc(var(--md-content-bg-transparency-1) * 100%),
    transparent
  ) !important;
  border-radius: .2rem;
}

.highlighttable .linenos {
  background-color: color-mix(
    in srgb,
    var(--md-code-bg-color) calc(var(--md-content-bg-transparency-1) * 100%),
    transparent
  ) !important;
}

.highlighttable {
  border-radius: .2rem !important;
  box-shadow: var(--md-shadow-z1) !important;
}

.highlight span.filename {
  background-color: color-mix(
    in srgb,
    var(--md-code-bg-color) calc(var(--md-code-bg-transparency) * 100%),
    transparent
  ) !important;
}




/* callout */
.md-typeset .admonition,
.md-typeset details {
  background-color: color-mix(
    in srgb,
    var(--md-admonition-bg-color) calc(var(--md-content-bg-transparency-1) * 100%),
    transparent
  ) !important;
}

.md-typeset table:not([class]) {
  background-color: color-mix(
    in srgb,
    var(--md-admonition-bg-color) calc(var(--md-content-bg-transparency-1) * 100%),
    transparent
  ) !important;
}




/* 增加内容宽度 */
.md-grid {
  max-width: calc(min(1920px, 80%));
}




/* 内容字体大小 */
.md-typeset {
  font-size: .75rem;
  line-height: 1.5;
}




/* 列表间距 */
.md-typeset ol li,.md-typeset ul li {
  margin-bottom: .3em !important;
}




/* 增大 admonition 内的字体大小 by @Nought0 */
.md-typeset .admonition,
.md-typeset details {
  font-size: inherit;
}




/* 图片圆角和阴影 by @Nought0 */
.md-content img:not([src$=".svg"]):not(.banner img):not(.friend-link-card img) {
  border-radius: 10px;
  box-shadow: var(--md-shadow-z1);
  max-width: 80%;
  display: block;
  margin: 12px auto;
}
