/* 调节目录字体大小 */
@media (min-width: 1220px) {
  .md-nav--primary .md-nav  {
    font-size: 0.9em;
  }
}


/* 去除 title 背景 */
@media (min-width: 1220px) {
  .md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link {
    background: none !important;
    box-shadow: none !important;
  }
}

/* .md-nav--primary .md-nav__title .md-logo img {
  margin: auto;
} */


/* .md-nav__title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */
