/*h1::before {*/
/*    content: "#1";*/
/*    color: gray;*/
/*}*/
h2::before {
    content: "# ";
}
h3::before {
    content: "## ";
}
h4::before {
    content: "### ";
}
h5::before {
    content: "#### ";
}
h6::before {
    content: "##### ";
}
